In [1]:
import numpy as np
import pandas as pd
# reading training and test dataset
train=pd.read_csv("F:\\ML\\dataset\\loan prediction\\train.csv")
test=pd.read_csv("F:\\ML\\dataset\\loan prediction\\test.csv")

In [2]:
train['source']='train'
test['source']='test'

In [3]:
# joining Loan_Status column to test dataset so to make both dataset of equal columns
# to avoid non alignment between datasets after combining
#add Loan_Status column in test dataset by MS excel
test

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status,source
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban,NaN,test
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban,NaN,test
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban,NaN,test
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban,NaN,test
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban,NaN,test
5,LP001054,Male,Yes,0,Not Graduate,Yes,2165,3422,152.0,360.0,1.0,Urban,NaN,test
6,LP001055,Female,No,1,Not Graduate,No,2226,0,59.0,360.0,1.0,Semiurban,NaN,test
7,LP001056,Male,Yes,2,Not Graduate,No,3881,0,147.0,360.0,0.0,Rural,NaN,test
8,LP001059,Male,Yes,2,Graduate,NaN,13633,0,280.0,240.0,1.0,Urban,NaN,test
9,LP001067,Male,No,0,Not Graduate,No,2400,2400,123.0,360.0,1.0,Semiurban,NaN,test
10,LP001078,Male,No,0,Not Graduate,No,3091,0,90.0,360.0,1.0,Urban,NaN,test
11,LP001082,Male,Yes,1,Graduate,NaN,2185,1516,162.0,360.0,1.0,Semiurban,NaN,test
12,LP001083,Male,No,3+,Graduate,No,4166,0,40.0,180.0,NaN,Urban,NaN,test
13,LP001094,Male,Yes,2,Graduate,NaN,12173,0,166.0,360.0,0.0,Semiurban,NaN,test
14,LP001096,Female,No,0,Graduate,No,4666,0,124.0,360.0,1.0,Semiurban,NaN,test
15,LP001099,Male,No,1,Graduate,No,5667,0,131.0,360.0,1.0,Urban,NaN,test
16,LP001105,Male,Yes,2,Graduate,No,4583,2916,200.0,360.0,1.0,Urban,NaN,test
17,LP001107,Male,Yes,3+,Graduate,No,3786,333,126.0,360.0,1.0,Semiurban,NaN,test
18,LP001108,Male,Yes,0,Graduate,No,9226,7916,300.0,360.0,1.0,Urban,NaN,test
19,LP001115,Male,No,0,Graduate,No,1300,3470,100.0,180.0,1.0,Semiurban,NaN,test
20,LP001121,Male,Yes,1,Not Graduate,No,1888,1620,48.0,360.0,1.0,Urban,NaN,test
21,LP001124,Female,No,3+,Not Graduate,No,2083,0,28.0,180.0,1.0,Urban,NaN,test
22,LP001128,NaN,No,0,Graduate,No,3909,0,101.0,360.0,1.0,Urban,NaN,test
23,LP001135,Female,No,0,Not Graduate,No,3765,0,125.0,360.0,1.0,Urban,NaN,test
24,LP001149,Male,Yes,0,Graduate,No,5400,4380,290.0,360.0,1.0,Urban,NaN,test
25,LP001153,Male,No,0,Graduate,No,0,24000,148.0,360.0,0.0,Rural,NaN,test
26,LP001163,Male,Yes,2,Graduate,No,4363,1250,140.0,360.0,NaN,Urban,NaN,test
27,LP001169,Male,Yes,0,Graduate,No,7500,3750,275.0,360.0,1.0,Urban,NaN,test
28,LP001174,Male,Yes,0,Graduate,No,3772,833,57.0,360.0,NaN,Semiurban,NaN,test
29,LP001176,Male,No,0,Graduate,No,2942,2382,125.0,180.0,1.0,Urban,NaN,test
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
337,LP002856,Male,Yes,0,Graduate,No,2292,1558,119.0,360.0,1.0,Urban,NaN,test
338,LP002857,Male,Yes,1,Graduate,Yes,2360,3355,87.0,240.0,1.0,Rural,NaN,test
339,LP002858,Female,No,0,Graduate,No,4333,2333,162.0,360.0,0.0,Rural,NaN,test
340,LP002860,Male,Yes,0,Graduate,Yes,2623,4831,122.0,180.0,1.0,Semiurban,NaN,test
341,LP002867,Male,No,0,Graduate,Yes,3972,4275,187.0,360.0,1.0,Rural,NaN,test
342,LP002869,Male,Yes,3+,Not Graduate,No,3522,0,81.0,180.0,1.0,Rural,NaN,test
343,LP002870,Male,Yes,1,Graduate,No,4700,0,80.0,360.0,1.0,Urban,NaN,test
344,LP002876,Male,No,0,Graduate,No,6858,0,176.0,360.0,1.0,Rural,NaN,test
345,LP002878,Male,Yes,3+,Graduate,No,8334,0,260.0,360.0,1.0,Urban,NaN,test
346,LP002879,Male,Yes,0,Graduate,No,3391,1966,133.0,360.0,0.0,Rural,NaN,test
347,LP002885,Male,No,0,Not Graduate,No,2868,0,70.0,360.0,1.0,Urban,NaN,test
348,LP002890,Male,Yes,2,Not Graduate,No,3418,1380,135.0,360.0,1.0,Urban,NaN,test
349,LP002891,Male,Yes,0,Graduate,Yes,2500,296,137.0,300.0,1.0,Rural,NaN,test
350,LP002899,Male,Yes,2,Graduate,No,8667,0,254.0,360.0,1.0,Rural,NaN,test
351,LP002901,Male,No,0,Graduate,No,2283,15000,106.0,360.0,NaN,Rural,NaN,test
352,LP002907,Male,Yes,0,Graduate,No,5817,910,109.0,360.0,1.0,Urban,NaN,test
353,LP002920,Male,Yes,0,Graduate,No,5119,3769,120.0,360.0,1.0,Rural,NaN,test
354,LP002921,Male,Yes,3+,Not Graduate,No,5316,187,158.0,180.0,0.0,Semiurban,NaN,test
355,LP002932,Male,Yes,3+,Graduate,No,7603,1213,197.0,360.0,1.0,Urban,NaN,test
356,LP002935,Male,Yes,1,Graduate,No,3791,1936,85.0,360.0,1.0,Urban,NaN,test
357,LP002952,Male,No,0,Graduate,No,2500,0,60.0,360.0,1.0,Urban,NaN,test
358,LP002954,Male,Yes,2,Not Graduate,No,3132,0,76.0,360.0,NaN,Rural,NaN,test
359,LP002962,Male,No,0,Graduate,No,4000,2667,152.0,360.0,1.0,Semiurban,NaN,test
360,LP002965,Female,Yes,0,Graduate,No,8550,4255,96.0,360.0,NaN,Urban,NaN,test
361,LP002969,Male,Yes,1,Graduate,No,2269,2167,99.0,360.0,1.0,Semiurban,NaN,test
362,LP002971,Male,Yes,3+,Not Graduate,Yes,4009,1777,113.0,360.0,1.0,Urban,NaN,test
363,LP002975,Male,Yes,0,Graduate,No,4158,709,115.0,360.0,1.0,Urban,NaN,test
364,LP002980,Male,No,0,Graduate,No,3250,1993,126.0,360.0,NaN,Semiurban,NaN,test
365,LP002986,Male,Yes,0,Graduate,No,5000,2393,158.0,360.0,1.0,Rural,NaN,test
366,LP002989,Male,No,0,Graduate,Yes,9200,0,98.0,180.0,1.0,Rural,NaN,test

In [4]:
# Combining both datasets for better data preprocessing
data=pd.concat([train,test],sort=True)
# checking whether dataset is properly joined or not
print(train.shape,test.shape,data.shape)

(614, 14) (367, 14) (981, 14)

In [5]:
data

,ApplicantIncome,CoapplicantIncome,Credit_History,Dependents,Education,Gender,LoanAmount,Loan_Amount_Term,Loan_ID,Loan_Status,Married,Property_Area,Self_Employed,source
0,5849,0.0,1.0,0,Graduate,Male,NaN,360.0,LP001002,Y,No,Urban,No,train
1,4583,1508.0,1.0,1,Graduate,Male,128.0,360.0,LP001003,N,Yes,Rural,No,train
2,3000,0.0,1.0,0,Graduate,Male,66.0,360.0,LP001005,Y,Yes,Urban,Yes,train
3,2583,2358.0,1.0,0,Not Graduate,Male,120.0,360.0,LP001006,Y,Yes,Urban,No,train
4,6000,0.0,1.0,0,Graduate,Male,141.0,360.0,LP001008,Y,No,Urban,No,train
5,5417,4196.0,1.0,2,Graduate,Male,267.0,360.0,LP001011,Y,Yes,Urban,Yes,train
6,2333,1516.0,1.0,0,Not Graduate,Male,95.0,360.0,LP001013,Y,Yes,Urban,No,train
7,3036,2504.0,0.0,3+,Graduate,Male,158.0,360.0,LP001014,N,Yes,Semiurban,No,train
8,4006,1526.0,1.0,2,Graduate,Male,168.0,360.0,LP001018,Y,Yes,Urban,No,train
9,12841,10968.0,1.0,1,Graduate,Male,349.0,360.0,LP001020,N,Yes,Semiurban,No,train
10,3200,700.0,1.0,2,Graduate,Male,70.0,360.0,LP001024,Y,Yes,Urban,No,train
11,2500,1840.0,1.0,2,Graduate,Male,109.0,360.0,LP001027,Y,Yes,Urban,NaN,train
12,3073,8106.0,1.0,2,Graduate,Male,200.0,360.0,LP001028,Y,Yes,Urban,No,train
13,1853,2840.0,1.0,0,Graduate,Male,114.0,360.0,LP001029,N,No,Rural,No,train
14,1299,1086.0,1.0,2,Graduate,Male,17.0,120.0,LP001030,Y,Yes,Urban,No,train
15,4950,0.0,1.0,0,Graduate,Male,125.0,360.0,LP001032,Y,No,Urban,No,train
16,3596,0.0,NaN,1,Not Graduate,Male,100.0,240.0,LP001034,Y,No,Urban,No,train
17,3510,0.0,0.0,0,Graduate,Female,76.0,360.0,LP001036,N,No,Urban,No,train
18,4887,0.0,1.0,0,Not Graduate,Male,133.0,360.0,LP001038,N,Yes,Rural,No,train
19,2600,3500.0,1.0,0,Graduate,Male,115.0,NaN,LP001041,Y,Yes,Urban,NaN,train
20,7660,0.0,0.0,0,Not Graduate,Male,104.0,360.0,LP001043,N,Yes,Urban,No,train
21,5955,5625.0,1.0,1,Graduate,Male,315.0,360.0,LP001046,Y,Yes,Urban,No,train
22,2600,1911.0,0.0,0,Not Graduate,Male,116.0,360.0,LP001047,N,Yes,Semiurban,No,train
23,3365,1917.0,0.0,2,Not Graduate,NaN,112.0,360.0,LP001050,N,Yes,Rural,No,train
24,3717,2925.0,NaN,1,Graduate,Male,151.0,360.0,LP001052,N,Yes,Semiurban,NaN,train
25,9560,0.0,1.0,0,Graduate,Male,191.0,360.0,LP001066,Y,Yes,Semiurban,Yes,train
26,2799,2253.0,1.0,0,Graduate,Male,122.0,360.0,LP001068,Y,Yes,Semiurban,No,train
27,4226,1040.0,1.0,2,Not Graduate,Male,110.0,360.0,LP001073,Y,Yes,Urban,No,train
28,1442,0.0,1.0,0,Not Graduate,Male,35.0,360.0,LP001086,N,No,Urban,No,train
29,3750,2083.0,1.0,2,Graduate,Female,120.0,360.0,LP001087,Y,No,Semiurban,NaN,train
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
337,2292,1558.0,1.0,0,Graduate,Male,119.0,360.0,LP002856,NaN,Yes,Urban,No,test
338,2360,3355.0,1.0,1,Graduate,Male,87.0,240.0,LP002857,NaN,Yes,Rural,Yes,test
339,4333,2333.0,0.0,0,Graduate,Female,162.0,360.0,LP002858,NaN,No,Rural,No,test
340,2623,4831.0,1.0,0,Graduate,Male,122.0,180.0,LP002860,NaN,Yes,Semiurban,Yes,test
341,3972,4275.0,1.0,0,Graduate,Male,187.0,360.0,LP002867,NaN,No,Rural,Yes,test
342,3522,0.0,1.0,3+,Not Graduate,Male,81.0,180.0,LP002869,NaN,Yes,Rural,No,test
343,4700,0.0,1.0,1,Graduate,Male,80.0,360.0,LP002870,NaN,Yes,Urban,No,test
344,6858,0.0,1.0,0,Graduate,Male,176.0,360.0,LP002876,NaN,No,Rural,No,test
345,8334,0.0,1.0,3+,Graduate,Male,260.0,360.0,LP002878,NaN,Yes,Urban,No,test
346,3391,1966.0,0.0,0,Graduate,Male,133.0,360.0,LP002879,NaN,Yes,Rural,No,test
347,2868,0.0,1.0,0,Not Graduate,Male,70.0,360.0,LP002885,NaN,No,Urban,No,test
348,3418,1380.0,1.0,2,Not Graduate,Male,135.0,360.0,LP002890,NaN,Yes,Urban,No,test
349,2500,296.0,1.0,0,Graduate,Male,137.0,300.0,LP002891,NaN,Yes,Rural,Yes,test
350,8667,0.0,1.0,2,Graduate,Male,254.0,360.0,LP002899,NaN,Yes,Rural,No,test
351,2283,15000.0,NaN,0,Graduate,Male,106.0,360.0,LP002901,NaN,No,Rural,No,test
352,5817,910.0,1.0,0,Graduate,Male,109.0,360.0,LP002907,NaN,Yes,Urban,No,test
353,5119,3769.0,1.0,0,Graduate,Male,120.0,360.0,LP002920,NaN,Yes,Rural,No,test
354,5316,187.0,0.0,3+,Not Graduate,Male,158.0,180.0,LP002921,NaN,Yes,Semiurban,No,test
355,7603,1213.0,1.0,3+,Graduate,Male,197.0,360.0,LP002932,NaN,Yes,Urban,No,test
356,3791,1936.0,1.0,1,Graduate,Male,85.0,360.0,LP002935,NaN,Yes,Urban,No,test
357,2500,0.0,1.0,0,Graduate,Male,60.0,360.0,LP002952,NaN,No,Urban,No,test
358,3132,0.0,NaN,2,Not Graduate,Male,76.0,360.0,LP002954,NaN,Yes,Rural,No,test
359,4000,2667.0,1.0,0,Graduate,Male,152.0,360.0,LP002962,NaN,No,Semiurban,No,test
360,8550,4255.0,NaN,0,Graduate,Female,96.0,360.0,LP002965,NaN,Yes,Urban,No,test
361,2269,2167.0,1.0,1,Graduate,Male,99.0,360.0,LP002969,NaN,Yes,Semiurban,No,test
362,4009,1777.0,1.0,3+,Not Graduate,Male,113.0,360.0,LP002971,NaN,Yes,Urban,Yes,test
363,4158,709.0,1.0,0,Graduate,Male,115.0,360.0,LP002975,NaN,Yes,Urban,No,test
364,3250,1993.0,NaN,0,Graduate,Male,126.0,360.0,LP002980,NaN,No,Semiurban,No,test
365,5000,2393.0,1.0,0,Graduate,Male,158.0,360.0,LP002986,NaN,Yes,Rural,No,test
366,9200,0.0,1.0,0,Graduate,Male,98.0,180.0,LP002989,NaN,No,Rural,Yes,test

In [6]:
 # stats of each numeric variable
data.describe()

,ApplicantIncome,CoapplicantIncome,Credit_History,LoanAmount,Loan_Amount_Term
count,981.000000,981.000000,902.000000,954.000000,961.000000
mean,5179.795107,1601.916330,0.835920,142.511530,342.201873
std,5695.104533,2718.772806,0.370553,77.421743,65.100602
min,0.000000,0.000000,0.000000,9.000000,6.000000
25%,2875.000000,0.000000,1.000000,100.000000,360.000000
50%,3800.000000,1110.000000,1.000000,126.000000,360.000000
75%,5516.000000,2365.000000,1.000000,162.000000,360.000000
max,81000.000000,41667.000000,1.000000,700.000000,480.000000

In [7]:
# to know the unique values in each column
data.apply(lambda x: (x.nunique()))

ApplicantIncome      752
CoapplicantIncome    437
Credit_History         2
Dependents             4
Education              2
Gender                 2
LoanAmount           232
Loan_Amount_Term      12
Loan_ID              981
Loan_Status            2
Married                2
Property_Area          3
Self_Employed          2
source                 2
dtype: int64

In [8]:
# frequency of each categorical column categories

# filter categorical variable
categorical_cols=[x for x in data.dtypes.index if data.dtypes[x]=="object"]

# exclude ID
categorical_cols=[x for x in categorical_cols if x not in ['Loan_ID']]

# print frequency of categories
for freq_category in categorical_cols :
    print("\n frequency of category for this column is %s"%freq_category)
    print(data[freq_category].value_counts())

 frequency of category for this column is Dependents
0     545
1     160
2     160
3+     91
Name: Dependents, dtype: int64

 frequency of category for this column is Education
Graduate        763
Not Graduate    218
Name: Education, dtype: int64

 frequency of category for this column is Gender
Male      775
Female    182
Name: Gender, dtype: int64

 frequency of category for this column is Loan_Status
Y    422
N    192
Name: Loan_Status, dtype: int64

 frequency of category for this column is Married
Yes    631
No     347
Name: Married, dtype: int64

 frequency of category for this column is Property_Area
Semiurban    349
Urban        342
Rural        290
Name: Property_Area, dtype: int64

 frequency of category for this column is Self_Employed
No     807
Yes    119
Name: Self_Employed, dtype: int64

 frequency of category for this column is source
train    614
test     367
Name: source, dtype: int64

In [9]:
# To know the frequency of 3+ in Dependents column
for i in data['Dependents']:
    count=data['Dependents'].value_counts()
print(count)

0     545
1     160
2     160
3+     91
Name: Dependents, dtype: int64

In [10]:
# setting the categories properly
data['Dependents']=data['Dependents'].replace({ '3+' : 4})
data['Dependents']=data['Dependents'].replace({ '3+' : 4})

In [11]:
# to know in which columns, values are missing
data.isnull().sum()

ApplicantIncome        0
CoapplicantIncome      0
Credit_History        79
Dependents            25
Education              0
Gender                24
LoanAmount            27
Loan_Amount_Term      20
Loan_ID                0
Loan_Status          367
Married                3
Property_Area          0
Self_Employed         55
source                 0
dtype: int64

In [12]:
# filling missing data

data['Self_Employed'].fillna(data['Self_Employed'].mode()[0], inplace=True)
data['Gender'].fillna(data['Gender'].mode()[0], inplace=True)
data['Married'].fillna(data['Married'].mode()[0], inplace=True)
data['Dependents'].fillna(data['Dependents'].mode()[0], inplace=True)
data['Loan_Amount_Term'].fillna(data['Loan_Amount_Term'].mode()[0], inplace=True)
data['Credit_History'].fillna(data['Credit_History'].mode()[0], inplace=True)
data['LoanAmount'].fillna(data['LoanAmount'].mean(),inplace=True)

In [13]:
data

,ApplicantIncome,CoapplicantIncome,Credit_History,Dependents,Education,Gender,LoanAmount,Loan_Amount_Term,Loan_ID,Loan_Status,Married,Property_Area,Self_Employed,source
0,5849,0.0,1.0,0,Graduate,Male,142.51153,360.0,LP001002,Y,No,Urban,No,train
1,4583,1508.0,1.0,1,Graduate,Male,128.00000,360.0,LP001003,N,Yes,Rural,No,train
2,3000,0.0,1.0,0,Graduate,Male,66.00000,360.0,LP001005,Y,Yes,Urban,Yes,train
3,2583,2358.0,1.0,0,Not Graduate,Male,120.00000,360.0,LP001006,Y,Yes,Urban,No,train
4,6000,0.0,1.0,0,Graduate,Male,141.00000,360.0,LP001008,Y,No,Urban,No,train
5,5417,4196.0,1.0,2,Graduate,Male,267.00000,360.0,LP001011,Y,Yes,Urban,Yes,train
6,2333,1516.0,1.0,0,Not Graduate,Male,95.00000,360.0,LP001013,Y,Yes,Urban,No,train
7,3036,2504.0,0.0,4,Graduate,Male,158.00000,360.0,LP001014,N,Yes,Semiurban,No,train
8,4006,1526.0,1.0,2,Graduate,Male,168.00000,360.0,LP001018,Y,Yes,Urban,No,train
9,12841,10968.0,1.0,1,Graduate,Male,349.00000,360.0,LP001020,N,Yes,Semiurban,No,train
10,3200,700.0,1.0,2,Graduate,Male,70.00000,360.0,LP001024,Y,Yes,Urban,No,train
11,2500,1840.0,1.0,2,Graduate,Male,109.00000,360.0,LP001027,Y,Yes,Urban,No,train
12,3073,8106.0,1.0,2,Graduate,Male,200.00000,360.0,LP001028,Y,Yes,Urban,No,train
13,1853,2840.0,1.0,0,Graduate,Male,114.00000,360.0,LP001029,N,No,Rural,No,train
14,1299,1086.0,1.0,2,Graduate,Male,17.00000,120.0,LP001030,Y,Yes,Urban,No,train
15,4950,0.0,1.0,0,Graduate,Male,125.00000,360.0,LP001032,Y,No,Urban,No,train
16,3596,0.0,1.0,1,Not Graduate,Male,100.00000,240.0,LP001034,Y,No,Urban,No,train
17,3510,0.0,0.0,0,Graduate,Female,76.00000,360.0,LP001036,N,No,Urban,No,train
18,4887,0.0,1.0,0,Not Graduate,Male,133.00000,360.0,LP001038,N,Yes,Rural,No,train
19,2600,3500.0,1.0,0,Graduate,Male,115.00000,360.0,LP001041,Y,Yes,Urban,No,train
20,7660,0.0,0.0,0,Not Graduate,Male,104.00000,360.0,LP001043,N,Yes,Urban,No,train
21,5955,5625.0,1.0,1,Graduate,Male,315.00000,360.0,LP001046,Y,Yes,Urban,No,train
22,2600,1911.0,0.0,0,Not Graduate,Male,116.00000,360.0,LP001047,N,Yes,Semiurban,No,train
23,3365,1917.0,0.0,2,Not Graduate,Male,112.00000,360.0,LP001050,N,Yes,Rural,No,train
24,3717,2925.0,1.0,1,Graduate,Male,151.00000,360.0,LP001052,N,Yes,Semiurban,No,train
25,9560,0.0,1.0,0,Graduate,Male,191.00000,360.0,LP001066,Y,Yes,Semiurban,Yes,train
26,2799,2253.0,1.0,0,Graduate,Male,122.00000,360.0,LP001068,Y,Yes,Semiurban,No,train
27,4226,1040.0,1.0,2,Not Graduate,Male,110.00000,360.0,LP001073,Y,Yes,Urban,No,train
28,1442,0.0,1.0,0,Not Graduate,Male,35.00000,360.0,LP001086,N,No,Urban,No,train
29,3750,2083.0,1.0,2,Graduate,Female,120.00000,360.0,LP001087,Y,No,Semiurban,No,train
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
337,2292,1558.0,1.0,0,Graduate,Male,119.00000,360.0,LP002856,NaN,Yes,Urban,No,test
338,2360,3355.0,1.0,1,Graduate,Male,87.00000,240.0,LP002857,NaN,Yes,Rural,Yes,test
339,4333,2333.0,0.0,0,Graduate,Female,162.00000,360.0,LP002858,NaN,No,Rural,No,test
340,2623,4831.0,1.0,0,Graduate,Male,122.00000,180.0,LP002860,NaN,Yes,Semiurban,Yes,test
341,3972,4275.0,1.0,0,Graduate,Male,187.00000,360.0,LP002867,NaN,No,Rural,Yes,test
342,3522,0.0,1.0,4,Not Graduate,Male,81.00000,180.0,LP002869,NaN,Yes,Rural,No,test
343,4700,0.0,1.0,1,Graduate,Male,80.00000,360.0,LP002870,NaN,Yes,Urban,No,test
344,6858,0.0,1.0,0,Graduate,Male,176.00000,360.0,LP002876,NaN,No,Rural,No,test
345,8334,0.0,1.0,4,Graduate,Male,260.00000,360.0,LP002878,NaN,Yes,Urban,No,test
346,3391,1966.0,0.0,0,Graduate,Male,133.00000,360.0,LP002879,NaN,Yes,Rural,No,test
347,2868,0.0,1.0,0,Not Graduate,Male,70.00000,360.0,LP002885,NaN,No,Urban,No,test
348,3418,1380.0,1.0,2,Not Graduate,Male,135.00000,360.0,LP002890,NaN,Yes,Urban,No,test
349,2500,296.0,1.0,0,Graduate,Male,137.00000,300.0,LP002891,NaN,Yes,Rural,Yes,test
350,8667,0.0,1.0,2,Graduate,Male,254.00000,360.0,LP002899,NaN,Yes,Rural,No,test
351,2283,15000.0,1.0,0,Graduate,Male,106.00000,360.0,LP002901,NaN,No,Rural,No,test
352,5817,910.0,1.0,0,Graduate,Male,109.00000,360.0,LP002907,NaN,Yes,Urban,No,test
353,5119,3769.0,1.0,0,Graduate,Male,120.00000,360.0,LP002920,NaN,Yes,Rural,No,test
354,5316,187.0,0.0,4,Not Graduate,Male,158.00000,180.0,LP002921,NaN,Yes,Semiurban,No,test
355,7603,1213.0,1.0,4,Graduate,Male,197.00000,360.0,LP002932,NaN,Yes,Urban,No,test
356,3791,1936.0,1.0,1,Graduate,Male,85.00000,360.0,LP002935,NaN,Yes,Urban,No,test
357,2500,0.0,1.0,0,Graduate,Male,60.00000,360.0,LP002952,NaN,No,Urban,No,test
358,3132,0.0,1.0,2,Not Graduate,Male,76.00000,360.0,LP002954,NaN,Yes,Rural,No,test
359,4000,2667.0,1.0,0,Graduate,Male,152.00000,360.0,LP002962,NaN,No,Semiurban,No,test
360,8550,4255.0,1.0,0,Graduate,Female,96.00000,360.0,LP002965,NaN,Yes,Urban,No,test
361,2269,2167.0,1.0,1,Graduate,Male,99.00000,360.0,LP002969,NaN,Yes,Semiurban,No,test
362,4009,1777.0,1.0,4,Not Graduate,Male,113.00000,360.0,LP002971,NaN,Yes,Urban,Yes,test
363,4158,709.0,1.0,0,Graduate,Male,115.00000,360.0,LP002975,NaN,Yes,Urban,No,test
364,3250,1993.0,1.0,0,Graduate,Male,126.00000,360.0,LP002980,NaN,No,Semiurban,No,test
365,5000,2393.0,1.0,0,Graduate,Male,158.00000,360.0,LP002986,NaN,Yes,Rural,No,test
366,9200,0.0,1.0,0,Graduate,Male,98.00000,180.0,LP002989,NaN,No,Rural,Yes,test

In [14]:
data

,ApplicantIncome,CoapplicantIncome,Credit_History,Dependents,Education,Gender,LoanAmount,Loan_Amount_Term,Loan_ID,Loan_Status,Married,Property_Area,Self_Employed,source
0,5849,0.0,1.0,0,Graduate,Male,142.51153,360.0,LP001002,Y,No,Urban,No,train
1,4583,1508.0,1.0,1,Graduate,Male,128.00000,360.0,LP001003,N,Yes,Rural,No,train
2,3000,0.0,1.0,0,Graduate,Male,66.00000,360.0,LP001005,Y,Yes,Urban,Yes,train
3,2583,2358.0,1.0,0,Not Graduate,Male,120.00000,360.0,LP001006,Y,Yes,Urban,No,train
4,6000,0.0,1.0,0,Graduate,Male,141.00000,360.0,LP001008,Y,No,Urban,No,train
5,5417,4196.0,1.0,2,Graduate,Male,267.00000,360.0,LP001011,Y,Yes,Urban,Yes,train
6,2333,1516.0,1.0,0,Not Graduate,Male,95.00000,360.0,LP001013,Y,Yes,Urban,No,train
7,3036,2504.0,0.0,4,Graduate,Male,158.00000,360.0,LP001014,N,Yes,Semiurban,No,train
8,4006,1526.0,1.0,2,Graduate,Male,168.00000,360.0,LP001018,Y,Yes,Urban,No,train
9,12841,10968.0,1.0,1,Graduate,Male,349.00000,360.0,LP001020,N,Yes,Semiurban,No,train
10,3200,700.0,1.0,2,Graduate,Male,70.00000,360.0,LP001024,Y,Yes,Urban,No,train
11,2500,1840.0,1.0,2,Graduate,Male,109.00000,360.0,LP001027,Y,Yes,Urban,No,train
12,3073,8106.0,1.0,2,Graduate,Male,200.00000,360.0,LP001028,Y,Yes,Urban,No,train
13,1853,2840.0,1.0,0,Graduate,Male,114.00000,360.0,LP001029,N,No,Rural,No,train
14,1299,1086.0,1.0,2,Graduate,Male,17.00000,120.0,LP001030,Y,Yes,Urban,No,train
15,4950,0.0,1.0,0,Graduate,Male,125.00000,360.0,LP001032,Y,No,Urban,No,train
16,3596,0.0,1.0,1,Not Graduate,Male,100.00000,240.0,LP001034,Y,No,Urban,No,train
17,3510,0.0,0.0,0,Graduate,Female,76.00000,360.0,LP001036,N,No,Urban,No,train
18,4887,0.0,1.0,0,Not Graduate,Male,133.00000,360.0,LP001038,N,Yes,Rural,No,train
19,2600,3500.0,1.0,0,Graduate,Male,115.00000,360.0,LP001041,Y,Yes,Urban,No,train
20,7660,0.0,0.0,0,Not Graduate,Male,104.00000,360.0,LP001043,N,Yes,Urban,No,train
21,5955,5625.0,1.0,1,Graduate,Male,315.00000,360.0,LP001046,Y,Yes,Urban,No,train
22,2600,1911.0,0.0,0,Not Graduate,Male,116.00000,360.0,LP001047,N,Yes,Semiurban,No,train
23,3365,1917.0,0.0,2,Not Graduate,Male,112.00000,360.0,LP001050,N,Yes,Rural,No,train
24,3717,2925.0,1.0,1,Graduate,Male,151.00000,360.0,LP001052,N,Yes,Semiurban,No,train
25,9560,0.0,1.0,0,Graduate,Male,191.00000,360.0,LP001066,Y,Yes,Semiurban,Yes,train
26,2799,2253.0,1.0,0,Graduate,Male,122.00000,360.0,LP001068,Y,Yes,Semiurban,No,train
27,4226,1040.0,1.0,2,Not Graduate,Male,110.00000,360.0,LP001073,Y,Yes,Urban,No,train
28,1442,0.0,1.0,0,Not Graduate,Male,35.00000,360.0,LP001086,N,No,Urban,No,train
29,3750,2083.0,1.0,2,Graduate,Female,120.00000,360.0,LP001087,Y,No,Semiurban,No,train
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
337,2292,1558.0,1.0,0,Graduate,Male,119.00000,360.0,LP002856,NaN,Yes,Urban,No,test
338,2360,3355.0,1.0,1,Graduate,Male,87.00000,240.0,LP002857,NaN,Yes,Rural,Yes,test
339,4333,2333.0,0.0,0,Graduate,Female,162.00000,360.0,LP002858,NaN,No,Rural,No,test
340,2623,4831.0,1.0,0,Graduate,Male,122.00000,180.0,LP002860,NaN,Yes,Semiurban,Yes,test
341,3972,4275.0,1.0,0,Graduate,Male,187.00000,360.0,LP002867,NaN,No,Rural,Yes,test
342,3522,0.0,1.0,4,Not Graduate,Male,81.00000,180.0,LP002869,NaN,Yes,Rural,No,test
343,4700,0.0,1.0,1,Graduate,Male,80.00000,360.0,LP002870,NaN,Yes,Urban,No,test
344,6858,0.0,1.0,0,Graduate,Male,176.00000,360.0,LP002876,NaN,No,Rural,No,test
345,8334,0.0,1.0,4,Graduate,Male,260.00000,360.0,LP002878,NaN,Yes,Urban,No,test
346,3391,1966.0,0.0,0,Graduate,Male,133.00000,360.0,LP002879,NaN,Yes,Rural,No,test
347,2868,0.0,1.0,0,Not Graduate,Male,70.00000,360.0,LP002885,NaN,No,Urban,No,test
348,3418,1380.0,1.0,2,Not Graduate,Male,135.00000,360.0,LP002890,NaN,Yes,Urban,No,test
349,2500,296.0,1.0,0,Graduate,Male,137.00000,300.0,LP002891,NaN,Yes,Rural,Yes,test
350,8667,0.0,1.0,2,Graduate,Male,254.00000,360.0,LP002899,NaN,Yes,Rural,No,test
351,2283,15000.0,1.0,0,Graduate,Male,106.00000,360.0,LP002901,NaN,No,Rural,No,test
352,5817,910.0,1.0,0,Graduate,Male,109.00000,360.0,LP002907,NaN,Yes,Urban,No,test
353,5119,3769.0,1.0,0,Graduate,Male,120.00000,360.0,LP002920,NaN,Yes,Rural,No,test
354,5316,187.0,0.0,4,Not Graduate,Male,158.00000,180.0,LP002921,NaN,Yes,Semiurban,No,test
355,7603,1213.0,1.0,4,Graduate,Male,197.00000,360.0,LP002932,NaN,Yes,Urban,No,test
356,3791,1936.0,1.0,1,Graduate,Male,85.00000,360.0,LP002935,NaN,Yes,Urban,No,test
357,2500,0.0,1.0,0,Graduate,Male,60.00000,360.0,LP002952,NaN,No,Urban,No,test
358,3132,0.0,1.0,2,Not Graduate,Male,76.00000,360.0,LP002954,NaN,Yes,Rural,No,test
359,4000,2667.0,1.0,0,Graduate,Male,152.00000,360.0,LP002962,NaN,No,Semiurban,No,test
360,8550,4255.0,1.0,0,Graduate,Female,96.00000,360.0,LP002965,NaN,Yes,Urban,No,test
361,2269,2167.0,1.0,1,Graduate,Male,99.00000,360.0,LP002969,NaN,Yes,Semiurban,No,test
362,4009,1777.0,1.0,4,Not Graduate,Male,113.00000,360.0,LP002971,NaN,Yes,Urban,Yes,test
363,4158,709.0,1.0,0,Graduate,Male,115.00000,360.0,LP002975,NaN,Yes,Urban,No,test
364,3250,1993.0,1.0,0,Graduate,Male,126.00000,360.0,LP002980,NaN,No,Semiurban,No,test
365,5000,2393.0,1.0,0,Graduate,Male,158.00000,360.0,LP002986,NaN,Yes,Rural,No,test
366,9200,0.0,1.0,0,Graduate,Male,98.00000,180.0,LP002989,NaN,No,Rural,Yes,test

In [15]:
# Encoding categorical data

from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
categorical_columns=['Education','Gender','Property_Area','Married','Self_Employed']

for x in categorical_columns:
    data[x]=le.fit_transform(data[x].astype(str))

In [16]:
data

,ApplicantIncome,CoapplicantIncome,Credit_History,Dependents,Education,Gender,LoanAmount,Loan_Amount_Term,Loan_ID,Loan_Status,Married,Property_Area,Self_Employed,source
0,5849,0.0,1.0,0,0,1,142.51153,360.0,LP001002,Y,0,2,0,train
1,4583,1508.0,1.0,1,0,1,128.00000,360.0,LP001003,N,1,0,0,train
2,3000,0.0,1.0,0,0,1,66.00000,360.0,LP001005,Y,1,2,1,train
3,2583,2358.0,1.0,0,1,1,120.00000,360.0,LP001006,Y,1,2,0,train
4,6000,0.0,1.0,0,0,1,141.00000,360.0,LP001008,Y,0,2,0,train
5,5417,4196.0,1.0,2,0,1,267.00000,360.0,LP001011,Y,1,2,1,train
6,2333,1516.0,1.0,0,1,1,95.00000,360.0,LP001013,Y,1,2,0,train
7,3036,2504.0,0.0,4,0,1,158.00000,360.0,LP001014,N,1,1,0,train
8,4006,1526.0,1.0,2,0,1,168.00000,360.0,LP001018,Y,1,2,0,train
9,12841,10968.0,1.0,1,0,1,349.00000,360.0,LP001020,N,1,1,0,train
10,3200,700.0,1.0,2,0,1,70.00000,360.0,LP001024,Y,1,2,0,train
11,2500,1840.0,1.0,2,0,1,109.00000,360.0,LP001027,Y,1,2,0,train
12,3073,8106.0,1.0,2,0,1,200.00000,360.0,LP001028,Y,1,2,0,train
13,1853,2840.0,1.0,0,0,1,114.00000,360.0,LP001029,N,0,0,0,train
14,1299,1086.0,1.0,2,0,1,17.00000,120.0,LP001030,Y,1,2,0,train
15,4950,0.0,1.0,0,0,1,125.00000,360.0,LP001032,Y,0,2,0,train
16,3596,0.0,1.0,1,1,1,100.00000,240.0,LP001034,Y,0,2,0,train
17,3510,0.0,0.0,0,0,0,76.00000,360.0,LP001036,N,0,2,0,train
18,4887,0.0,1.0,0,1,1,133.00000,360.0,LP001038,N,1,0,0,train
19,2600,3500.0,1.0,0,0,1,115.00000,360.0,LP001041,Y,1,2,0,train
20,7660,0.0,0.0,0,1,1,104.00000,360.0,LP001043,N,1,2,0,train
21,5955,5625.0,1.0,1,0,1,315.00000,360.0,LP001046,Y,1,2,0,train
22,2600,1911.0,0.0,0,1,1,116.00000,360.0,LP001047,N,1,1,0,train
23,3365,1917.0,0.0,2,1,1,112.00000,360.0,LP001050,N,1,0,0,train
24,3717,2925.0,1.0,1,0,1,151.00000,360.0,LP001052,N,1,1,0,train
25,9560,0.0,1.0,0,0,1,191.00000,360.0,LP001066,Y,1,1,1,train
26,2799,2253.0,1.0,0,0,1,122.00000,360.0,LP001068,Y,1,1,0,train
27,4226,1040.0,1.0,2,1,1,110.00000,360.0,LP001073,Y,1,2,0,train
28,1442,0.0,1.0,0,1,1,35.00000,360.0,LP001086,N,0,2,0,train
29,3750,2083.0,1.0,2,0,0,120.00000,360.0,LP001087,Y,0,1,0,train
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
337,2292,1558.0,1.0,0,0,1,119.00000,360.0,LP002856,NaN,1,2,0,test
338,2360,3355.0,1.0,1,0,1,87.00000,240.0,LP002857,NaN,1,0,1,test
339,4333,2333.0,0.0,0,0,0,162.00000,360.0,LP002858,NaN,0,0,0,test
340,2623,4831.0,1.0,0,0,1,122.00000,180.0,LP002860,NaN,1,1,1,test
341,3972,4275.0,1.0,0,0,1,187.00000,360.0,LP002867,NaN,0,0,1,test
342,3522,0.0,1.0,4,1,1,81.00000,180.0,LP002869,NaN,1,0,0,test
343,4700,0.0,1.0,1,0,1,80.00000,360.0,LP002870,NaN,1,2,0,test
344,6858,0.0,1.0,0,0,1,176.00000,360.0,LP002876,NaN,0,0,0,test
345,8334,0.0,1.0,4,0,1,260.00000,360.0,LP002878,NaN,1,2,0,test
346,3391,1966.0,0.0,0,0,1,133.00000,360.0,LP002879,NaN,1,0,0,test
347,2868,0.0,1.0,0,1,1,70.00000,360.0,LP002885,NaN,0,2,0,test
348,3418,1380.0,1.0,2,1,1,135.00000,360.0,LP002890,NaN,1,2,0,test
349,2500,296.0,1.0,0,0,1,137.00000,300.0,LP002891,NaN,1,0,1,test
350,8667,0.0,1.0,2,0,1,254.00000,360.0,LP002899,NaN,1,0,0,test
351,2283,15000.0,1.0,0,0,1,106.00000,360.0,LP002901,NaN,0,0,0,test
352,5817,910.0,1.0,0,0,1,109.00000,360.0,LP002907,NaN,1,2,0,test
353,5119,3769.0,1.0,0,0,1,120.00000,360.0,LP002920,NaN,1,0,0,test
354,5316,187.0,0.0,4,1,1,158.00000,180.0,LP002921,NaN,1,1,0,test
355,7603,1213.0,1.0,4,0,1,197.00000,360.0,LP002932,NaN,1,2,0,test
356,3791,1936.0,1.0,1,0,1,85.00000,360.0,LP002935,NaN,1,2,0,test
357,2500,0.0,1.0,0,0,1,60.00000,360.0,LP002952,NaN,0,2,0,test
358,3132,0.0,1.0,2,1,1,76.00000,360.0,LP002954,NaN,1,0,0,test
359,4000,2667.0,1.0,0,0,1,152.00000,360.0,LP002962,NaN,0,1,0,test
360,8550,4255.0,1.0,0,0,0,96.00000,360.0,LP002965,NaN,1,2,0,test
361,2269,2167.0,1.0,1,0,1,99.00000,360.0,LP002969,NaN,1,1,0,test
362,4009,1777.0,1.0,4,1,1,113.00000,360.0,LP002971,NaN,1,2,1,test
363,4158,709.0,1.0,0,0,1,115.00000,360.0,LP002975,NaN,1,2,0,test
364,3250,1993.0,1.0,0,0,1,126.00000,360.0,LP002980,NaN,0,1,0,test
365,5000,2393.0,1.0,0,0,1,158.00000,360.0,LP002986,NaN,1,0,0,test
366,9200,0.0,1.0,0,0,1,98.00000,180.0,LP002989,NaN,0,0,1,test

In [17]:
# hot encoding of categorical columns

data = pd.get_dummies(data, columns=['Education','Gender','Property_Area','Married','Self_Employed'])

In [18]:
data

,ApplicantIncome,CoapplicantIncome,Credit_History,Dependents,LoanAmount,Loan_Amount_Term,Loan_ID,Loan_Status,source,Education_0,Education_1,Gender_0,Gender_1,Property_Area_0,Property_Area_1,Property_Area_2,Married_0,Married_1,Self_Employed_0,Self_Employed_1
0,5849,0.0,1.0,0,142.51153,360.0,LP001002,Y,train,1,0,0,1,0,0,1,1,0,1,0
1,4583,1508.0,1.0,1,128.00000,360.0,LP001003,N,train,1,0,0,1,1,0,0,0,1,1,0
2,3000,0.0,1.0,0,66.00000,360.0,LP001005,Y,train,1,0,0,1,0,0,1,0,1,0,1
3,2583,2358.0,1.0,0,120.00000,360.0,LP001006,Y,train,0,1,0,1,0,0,1,0,1,1,0
4,6000,0.0,1.0,0,141.00000,360.0,LP001008,Y,train,1,0,0,1,0,0,1,1,0,1,0
5,5417,4196.0,1.0,2,267.00000,360.0,LP001011,Y,train,1,0,0,1,0,0,1,0,1,0,1
6,2333,1516.0,1.0,0,95.00000,360.0,LP001013,Y,train,0,1,0,1,0,0,1,0,1,1,0
7,3036,2504.0,0.0,4,158.00000,360.0,LP001014,N,train,1,0,0,1,0,1,0,0,1,1,0
8,4006,1526.0,1.0,2,168.00000,360.0,LP001018,Y,train,1,0,0,1,0,0,1,0,1,1,0
9,12841,10968.0,1.0,1,349.00000,360.0,LP001020,N,train,1,0,0,1,0,1,0,0,1,1,0
10,3200,700.0,1.0,2,70.00000,360.0,LP001024,Y,train,1,0,0,1,0,0,1,0,1,1,0
11,2500,1840.0,1.0,2,109.00000,360.0,LP001027,Y,train,1,0,0,1,0,0,1,0,1,1,0
12,3073,8106.0,1.0,2,200.00000,360.0,LP001028,Y,train,1,0,0,1,0,0,1,0,1,1,0
13,1853,2840.0,1.0,0,114.00000,360.0,LP001029,N,train,1,0,0,1,1,0,0,1,0,1,0
14,1299,1086.0,1.0,2,17.00000,120.0,LP001030,Y,train,1,0,0,1,0,0,1,0,1,1,0
15,4950,0.0,1.0,0,125.00000,360.0,LP001032,Y,train,1,0,0,1,0,0,1,1,0,1,0
16,3596,0.0,1.0,1,100.00000,240.0,LP001034,Y,train,0,1,0,1,0,0,1,1,0,1,0
17,3510,0.0,0.0,0,76.00000,360.0,LP001036,N,train,1,0,1,0,0,0,1,1,0,1,0
18,4887,0.0,1.0,0,133.00000,360.0,LP001038,N,train,0,1,0,1,1,0,0,0,1,1,0
19,2600,3500.0,1.0,0,115.00000,360.0,LP001041,Y,train,1,0,0,1,0,0,1,0,1,1,0
20,7660,0.0,0.0,0,104.00000,360.0,LP001043,N,train,0,1,0,1,0,0,1,0,1,1,0
21,5955,5625.0,1.0,1,315.00000,360.0,LP001046,Y,train,1,0,0,1,0,0,1,0,1,1,0
22,2600,1911.0,0.0,0,116.00000,360.0,LP001047,N,train,0,1,0,1,0,1,0,0,1,1,0
23,3365,1917.0,0.0,2,112.00000,360.0,LP001050,N,train,0,1,0,1,1,0,0,0,1,1,0
24,3717,2925.0,1.0,1,151.00000,360.0,LP001052,N,train,1,0,0,1,0,1,0,0,1,1,0
25,9560,0.0,1.0,0,191.00000,360.0,LP001066,Y,train,1,0,0,1,0,1,0,0,1,0,1
26,2799,2253.0,1.0,0,122.00000,360.0,LP001068,Y,train,1,0,0,1,0,1,0,0,1,1,0
27,4226,1040.0,1.0,2,110.00000,360.0,LP001073,Y,train,0,1,0,1,0,0,1,0,1,1,0
28,1442,0.0,1.0,0,35.00000,360.0,LP001086,N,train,0,1,0,1,0,0,1,1,0,1,0
29,3750,2083.0,1.0,2,120.00000,360.0,LP001087,Y,train,1,0,1,0,0,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
337,2292,1558.0,1.0,0,119.00000,360.0,LP002856,NaN,test,1,0,0,1,0,0,1,0,1,1,0
338,2360,3355.0,1.0,1,87.00000,240.0,LP002857,NaN,test,1,0,0,1,1,0,0,0,1,0,1
339,4333,2333.0,0.0,0,162.00000,360.0,LP002858,NaN,test,1,0,1,0,1,0,0,1,0,1,0
340,2623,4831.0,1.0,0,122.00000,180.0,LP002860,NaN,test,1,0,0,1,0,1,0,0,1,0,1
341,3972,4275.0,1.0,0,187.00000,360.0,LP002867,NaN,test,1,0,0,1,1,0,0,1,0,0,1
342,3522,0.0,1.0,4,81.00000,180.0,LP002869,NaN,test,0,1,0,1,1,0,0,0,1,1,0
343,4700,0.0,1.0,1,80.00000,360.0,LP002870,NaN,test,1,0,0,1,0,0,1,0,1,1,0
344,6858,0.0,1.0,0,176.00000,360.0,LP002876,NaN,test,1,0,0,1,1,0,0,1,0,1,0
345,8334,0.0,1.0,4,260.00000,360.0,LP002878,NaN,test,1,0,0,1,0,0,1,0,1,1,0
346,3391,1966.0,0.0,0,133.00000,360.0,LP002879,NaN,test,1,0,0,1,1,0,0,0,1,1,0
347,2868,0.0,1.0,0,70.00000,360.0,LP002885,NaN,test,0,1,0,1,0,0,1,1,0,1,0
348,3418,1380.0,1.0,2,135.00000,360.0,LP002890,NaN,test,0,1,0,1,0,0,1,0,1,1,0
349,2500,296.0,1.0,0,137.00000,300.0,LP002891,NaN,test,1,0,0,1,1,0,0,0,1,0,1
350,8667,0.0,1.0,2,254.00000,360.0,LP002899,NaN,test,1,0,0,1,1,0,0,0,1,1,0
351,2283,15000.0,1.0,0,106.00000,360.0,LP002901,NaN,test,1,0,0,1,1,0,0,1,0,1,0
352,5817,910.0,1.0,0,109.00000,360.0,LP002907,NaN,test,1,0,0,1,0,0,1,0,1,1,0
353,5119,3769.0,1.0,0,120.00000,360.0,LP002920,NaN,test,1,0,0,1,1,0,0,0,1,1,0
354,5316,187.0,0.0,4,158.00000,180.0,LP002921,NaN,test,0,1,0,1,0,1,0,0,1,1,0
355,7603,1213.0,1.0,4,197.00000,360.0,LP002932,NaN,test,1,0,0,1,0,0,1,0,1,1,0
356,3791,1936.0,1.0,1,85.00000,360.0,LP002935,NaN,test,1,0,0,1,0,0,1,0,1,1,0
357,2500,0.0,1.0,0,60.00000,360.0,LP002952,NaN,test,1,0,0,1,0,0,1,1,0,1,0
358,3132,0.0,1.0,2,76.00000,360.0,LP002954,NaN,test,0,1,0,1,1,0,0,0,1,1,0
359,4000,2667.0,1.0,0,152.00000,360.0,LP002962,NaN,test,1,0,0,1,0,1,0,1,0,1,0
360,8550,4255.0,1.0,0,96.00000,360.0,LP002965,NaN,test,1,0,1,0,0,0,1,0,1,1,0
361,2269,2167.0,1.0,1,99.00000,360.0,LP002969,NaN,test,1,0,0,1,0,1,0,0,1,1,0
362,4009,1777.0,1.0,4,113.00000,360.0,LP002971,NaN,test,0,1,0,1,0,0,1,0,1,0,1
363,4158,709.0,1.0,0,115.00000,360.0,LP002975,NaN,test,1,0,0,1,0,0,1,0,1,1,0
364,3250,1993.0,1.0,0,126.00000,360.0,LP002980,NaN,test,1,0,0,1,0,1,0,1,0,1,0
365,5000,2393.0,1.0,0,158.00000,360.0,LP002986,NaN,test,1,0,0,1,1,0,0,0,1,1,0
366,9200,0.0,1.0,0,98.00000,180.0,LP002989,NaN,test,1,0,0,1,1,0,0,1,0,0,1

In [19]:
# dividing the dataset into train and test
train=data.loc[data['source']=='train']
test=data.loc[data['source']=='test']

#Drop unnecessary columns
train=train.drop(['source'],axis=1)
test=test.drop(['Loan_Status','source'],axis=1)

In [20]:
# Export file as their modified version
train.to_csv("train_mod.csv",index=False)
test.to_csv("test_mod.csv",index=False)

In [21]:
train_mod=pd.read_csv("F:\\ML\\jupyter notebook\\train_mod.csv")
test_mod=pd.read_csv("F:\\ML\\jupyter notebook\\test_mod.csv")

In [22]:
#Dropping unnecessary column(Loan_ID) and also dividing dependent and independent variable of train dataset 
x_train=train_mod.drop(['Loan_ID','Loan_Status'],axis=1)
y_train=train_mod.iloc[:,7].values

In [23]:
x_train

,ApplicantIncome,CoapplicantIncome,Credit_History,Dependents,LoanAmount,Loan_Amount_Term,Education_0,Education_1,Gender_0,Gender_1,Property_Area_0,Property_Area_1,Property_Area_2,Married_0,Married_1,Self_Employed_0,Self_Employed_1
0,5849,0.0,1.0,0,142.51153,360.0,1,0,0,1,0,0,1,1,0,1,0
1,4583,1508.0,1.0,1,128.00000,360.0,1,0,0,1,1,0,0,0,1,1,0
2,3000,0.0,1.0,0,66.00000,360.0,1,0,0,1,0,0,1,0,1,0,1
3,2583,2358.0,1.0,0,120.00000,360.0,0,1,0,1,0,0,1,0,1,1,0
4,6000,0.0,1.0,0,141.00000,360.0,1,0,0,1,0,0,1,1,0,1,0
5,5417,4196.0,1.0,2,267.00000,360.0,1,0,0,1,0,0,1,0,1,0,1
6,2333,1516.0,1.0,0,95.00000,360.0,0,1,0,1,0,0,1,0,1,1,0
7,3036,2504.0,0.0,4,158.00000,360.0,1,0,0,1,0,1,0,0,1,1,0
8,4006,1526.0,1.0,2,168.00000,360.0,1,0,0,1,0,0,1,0,1,1,0
9,12841,10968.0,1.0,1,349.00000,360.0,1,0,0,1,0,1,0,0,1,1,0
10,3200,700.0,1.0,2,70.00000,360.0,1,0,0,1,0,0,1,0,1,1,0
11,2500,1840.0,1.0,2,109.00000,360.0,1,0,0,1,0,0,1,0,1,1,0
12,3073,8106.0,1.0,2,200.00000,360.0,1,0,0,1,0,0,1,0,1,1,0
13,1853,2840.0,1.0,0,114.00000,360.0,1,0,0,1,1,0,0,1,0,1,0
14,1299,1086.0,1.0,2,17.00000,120.0,1,0,0,1,0,0,1,0,1,1,0
15,4950,0.0,1.0,0,125.00000,360.0,1,0,0,1,0,0,1,1,0,1,0
16,3596,0.0,1.0,1,100.00000,240.0,0,1,0,1,0,0,1,1,0,1,0
17,3510,0.0,0.0,0,76.00000,360.0,1,0,1,0,0,0,1,1,0,1,0
18,4887,0.0,1.0,0,133.00000,360.0,0,1,0,1,1,0,0,0,1,1,0
19,2600,3500.0,1.0,0,115.00000,360.0,1,0,0,1,0,0,1,0,1,1,0
20,7660,0.0,0.0,0,104.00000,360.0,0,1,0,1,0,0,1,0,1,1,0
21,5955,5625.0,1.0,1,315.00000,360.0,1,0,0,1,0,0,1,0,1,1,0
22,2600,1911.0,0.0,0,116.00000,360.0,0,1,0,1,0,1,0,0,1,1,0
23,3365,1917.0,0.0,2,112.00000,360.0,0,1,0,1,1,0,0,0,1,1,0
24,3717,2925.0,1.0,1,151.00000,360.0,1,0,0,1,0,1,0,0,1,1,0
25,9560,0.0,1.0,0,191.00000,360.0,1,0,0,1,0,1,0,0,1,0,1
26,2799,2253.0,1.0,0,122.00000,360.0,1,0,0,1,0,1,0,0,1,1,0
27,4226,1040.0,1.0,2,110.00000,360.0,0,1,0,1,0,0,1,0,1,1,0
28,1442,0.0,1.0,0,35.00000,360.0,0,1,0,1,0,0,1,1,0,1,0
29,3750,2083.0,1.0,2,120.00000,360.0,1,0,1,0,0,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
584,2787,1917.0,0.0,1,146.00000,360.0,1,0,0,1,1,0,0,0,1,1,0
585,4283,3000.0,1.0,1,172.00000,84.0,1,0,0,1,1,0,0,0,1,1,0
586,2297,1522.0,1.0,0,104.00000,360.0,1,0,0,1,0,0,1,0,1,1,0
587,2165,0.0,1.0,0,70.00000,360.0,0,1,1,0,0,1,0,1,0,1,0
588,4750,0.0,1.0,0,94.00000,360.0,1,0,0,1,0,1,0,1,0,1,0
589,2726,0.0,0.0,2,106.00000,360.0,1,0,0,1,0,1,0,0,1,0,1
590,3000,3416.0,1.0,0,56.00000,180.0,1,0,0,1,0,1,0,0,1,1,0
591,6000,0.0,1.0,2,205.00000,240.0,1,0,0,1,0,1,0,0,1,0,1
592,9357,0.0,1.0,4,292.00000,360.0,1,0,0,1,0,1,0,1,0,0,1
593,3859,3300.0,1.0,0,142.00000,180.0,1,0,0,1,1,0,0,0,1,1,0
594,16120,0.0,1.0,0,260.00000,360.0,1,0,0,1,0,0,1,0,1,0,1
595,3833,0.0,1.0,0,110.00000,360.0,0,1,0,1,1,0,0,1,0,1,0
596,6383,1000.0,1.0,2,187.00000,360.0,0,1,0,1,1,0,0,0,1,0,1
597,2987,0.0,0.0,0,88.00000,360.0,1,0,0,1,0,1,0,1,0,1,0
598,9963,0.0,1.0,0,180.00000,360.0,1,0,0,1,1,0,0,0,1,0,1
599,5780,0.0,1.0,2,192.00000,360.0,1,0,0,1,0,0,1,0,1,1,0
600,416,41667.0,1.0,4,350.00000,180.0,1,0,1,0,0,0,1,1,0,1,0
601,2894,2792.0,1.0,0,155.00000,360.0,0,1,0,1,1,0,0,0,1,1,0
602,5703,0.0,1.0,4,128.00000,360.0,1,0,0,1,0,0,1,0,1,1,0
603,3676,4301.0,1.0,0,172.00000,360.0,1,0,0,1,1,0,0,1,0,1,0
604,12000,0.0,1.0,1,496.00000,360.0,1,0,1,0,0,1,0,0,1,1,0
605,2400,3800.0,1.0,0,142.51153,180.0,0,1,0,1,0,0,1,0,1,1,0
606,3400,2500.0,1.0,1,173.00000,360.0,1,0,0,1,0,1,0,0,1,1,0
607,3987,1411.0,1.0,2,157.00000,360.0,0,1,0,1,1,0,0,0,1,1,0
608,3232,1950.0,1.0,0,108.00000,360.0,1,0,0,1,1,0,0,0,1,1,0
609,2900,0.0,1.0,0,71.00000,360.0,1,0,1,0,1,0,0,1,0,1,0
610,4106,0.0,1.0,4,40.00000,180.0,1,0,0,1,1,0,0,0,1,1,0
611,8072,240.0,1.0,1,253.00000,360.0,1,0,0,1,0,0,1,0,1,1,0
612,7583,0.0,1.0,2,187.00000,360.0,1,0,0,1,0,0,1,0,1,1,0
613,4583,0.0,0.0,0,133.00000,360.0,1,0,1,0,0,1,0,1,0,0,1

In [24]:
y_train

array(['Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'N', 'Y', 'Y', 'Y',
       'N', 'Y', 'Y', 'Y', 'N', 'N', 'Y', 'N', 'Y', 'N', 'N', 'N', 'Y',
       'Y', 'Y', 'N', 'Y', 'N', 'N', 'N', 'Y', 'N', 'Y', 'N', 'Y', 'Y',
       'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y',
       'N', 'N', 'N', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'N', 'N',
       'N', 'N', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'N', 'Y', 'N', 'N', 'N',
       'N', 'Y', 'Y', 'Y', 'N', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'N', 'N', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y',
       'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'N',
       'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'N', 'Y', 'N', 'N', 'N', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'N', 'Y', 'N', 'N', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'N', 'Y', 'Y', 'Y', 'N', 'Y', 'N',
       'Y', 'Y', 'Y', 'N', 'Y', 'N', 'Y', 'Y', 'N', 'Y', 'N', 'N', 'N',
       'Y', 'N', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'N', 'Y', 'Y',
       'N', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'N', 'N', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'N', 'Y', 'N',
       'Y', 'Y', 'Y', 'Y', 'N', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'N', 'Y',
       'Y', 'Y', 'Y', 'N', 'N', 'Y', 'Y', 'N', 'Y', 'N', 'N', 'N', 'N',
       'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'N', 'Y',
       'N', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N',
       'N', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'N', 'N', 'Y', 'Y', 'Y',
       'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y',
       'N', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'N', 'Y', 'N', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y',
       'N', 'Y', 'N', 'Y', 'Y', 'Y', 'N', 'N', 'Y', 'N', 'Y', 'Y', 'Y',
       'Y', 'N', 'N', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y',
       'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'N', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'N', 'N', 'N', 'Y',
       'Y', 'N', 'Y', 'Y', 'Y', 'N', 'N', 'N', 'Y', 'N', 'Y', 'N', 'Y',
       'N', 'N', 'Y', 'Y', 'Y', 'N', 'Y', 'N', 'Y', 'Y', 'N', 'Y', 'Y',
       'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'N', 'N', 'N', 'Y', 'N', 'Y', 'Y',
       'Y', 'Y', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'N', 'Y',
       'Y', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'N', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y',
       'N', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y',
       'N', 'Y', 'Y', 'N', 'Y', 'Y', 'N', 'N', 'Y', 'Y', 'N', 'N', 'N',
       'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N',
       'N', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y',
       'N', 'Y', 'N', 'Y', 'N', 'Y', 'Y', 'N', 'N', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'N', 'N', 'N', 'Y', 'N',
       'Y', 'N', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'N', 'N',
       'N', 'Y', 'Y', 'Y', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'N',
       'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'N'], dtype=object)

In [25]:
# encoding the dependent variable of training dataset

from sklearn.preprocessing import LabelEncoder
le1=LabelEncoder()
y_train=le1.fit_transform(y_train).ravel()

In [26]:
# Dropping unnecessary columns
x_test=test_mod.drop(['Loan_ID'],axis=1)

In [27]:
x_test

,ApplicantIncome,CoapplicantIncome,Credit_History,Dependents,LoanAmount,Loan_Amount_Term,Education_0,Education_1,Gender_0,Gender_1,Property_Area_0,Property_Area_1,Property_Area_2,Married_0,Married_1,Self_Employed_0,Self_Employed_1
0,5720,0.0,1.0,0,110.0,360.0,1,0,0,1,0,0,1,0,1,1,0
1,3076,1500.0,1.0,1,126.0,360.0,1,0,0,1,0,0,1,0,1,1,0
2,5000,1800.0,1.0,2,208.0,360.0,1,0,0,1,0,0,1,0,1,1,0
3,2340,2546.0,1.0,2,100.0,360.0,1,0,0,1,0,0,1,0,1,1,0
4,3276,0.0,1.0,0,78.0,360.0,0,1,0,1,0,0,1,1,0,1,0
5,2165,3422.0,1.0,0,152.0,360.0,0,1,0,1,0,0,1,0,1,0,1
6,2226,0.0,1.0,1,59.0,360.0,0,1,1,0,0,1,0,1,0,1,0
7,3881,0.0,0.0,2,147.0,360.0,0,1,0,1,1,0,0,0,1,1,0
8,13633,0.0,1.0,2,280.0,240.0,1,0,0,1,0,0,1,0,1,1,0
9,2400,2400.0,1.0,0,123.0,360.0,0,1,0,1,0,1,0,1,0,1,0
10,3091,0.0,1.0,0,90.0,360.0,0,1,0,1,0,0,1,1,0,1,0
11,2185,1516.0,1.0,1,162.0,360.0,1,0,0,1,0,1,0,0,1,1,0
12,4166,0.0,1.0,4,40.0,180.0,1,0,0,1,0,0,1,1,0,1,0
13,12173,0.0,0.0,2,166.0,360.0,1,0,0,1,0,1,0,0,1,1,0
14,4666,0.0,1.0,0,124.0,360.0,1,0,1,0,0,1,0,1,0,1,0
15,5667,0.0,1.0,1,131.0,360.0,1,0,0,1,0,0,1,1,0,1,0
16,4583,2916.0,1.0,2,200.0,360.0,1,0,0,1,0,0,1,0,1,1,0
17,3786,333.0,1.0,4,126.0,360.0,1,0,0,1,0,1,0,0,1,1,0
18,9226,7916.0,1.0,0,300.0,360.0,1,0,0,1,0,0,1,0,1,1,0
19,1300,3470.0,1.0,0,100.0,180.0,1,0,0,1,0,1,0,1,0,1,0
20,1888,1620.0,1.0,1,48.0,360.0,0,1,0,1,0,0,1,0,1,1,0
21,2083,0.0,1.0,4,28.0,180.0,0,1,1,0,0,0,1,1,0,1,0
22,3909,0.0,1.0,0,101.0,360.0,1,0,0,1,0,0,1,1,0,1,0
23,3765,0.0,1.0,0,125.0,360.0,0,1,1,0,0,0,1,1,0,1,0
24,5400,4380.0,1.0,0,290.0,360.0,1,0,0,1,0,0,1,0,1,1,0
25,0,24000.0,0.0,0,148.0,360.0,1,0,0,1,1,0,0,1,0,1,0
26,4363,1250.0,1.0,2,140.0,360.0,1,0,0,1,0,0,1,0,1,1,0
27,7500,3750.0,1.0,0,275.0,360.0,1,0,0,1,0,0,1,0,1,1,0
28,3772,833.0,1.0,0,57.0,360.0,1,0,0,1,0,1,0,0,1,1,0
29,2942,2382.0,1.0,0,125.0,180.0,1,0,0,1,0,0,1,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
337,2292,1558.0,1.0,0,119.0,360.0,1,0,0,1,0,0,1,0,1,1,0
338,2360,3355.0,1.0,1,87.0,240.0,1,0,0,1,1,0,0,0,1,0,1
339,4333,2333.0,0.0,0,162.0,360.0,1,0,1,0,1,0,0,1,0,1,0
340,2623,4831.0,1.0,0,122.0,180.0,1,0,0,1,0,1,0,0,1,0,1
341,3972,4275.0,1.0,0,187.0,360.0,1,0,0,1,1,0,0,1,0,0,1
342,3522,0.0,1.0,4,81.0,180.0,0,1,0,1,1,0,0,0,1,1,0
343,4700,0.0,1.0,1,80.0,360.0,1,0,0,1,0,0,1,0,1,1,0
344,6858,0.0,1.0,0,176.0,360.0,1,0,0,1,1,0,0,1,0,1,0
345,8334,0.0,1.0,4,260.0,360.0,1,0,0,1,0,0,1,0,1,1,0
346,3391,1966.0,0.0,0,133.0,360.0,1,0,0,1,1,0,0,0,1,1,0
347,2868,0.0,1.0,0,70.0,360.0,0,1,0,1,0,0,1,1,0,1,0
348,3418,1380.0,1.0,2,135.0,360.0,0,1,0,1,0,0,1,0,1,1,0
349,2500,296.0,1.0,0,137.0,300.0,1,0,0,1,1,0,0,0,1,0,1
350,8667,0.0,1.0,2,254.0,360.0,1,0,0,1,1,0,0,0,1,1,0
351,2283,15000.0,1.0,0,106.0,360.0,1,0,0,1,1,0,0,1,0,1,0
352,5817,910.0,1.0,0,109.0,360.0,1,0,0,1,0,0,1,0,1,1,0
353,5119,3769.0,1.0,0,120.0,360.0,1,0,0,1,1,0,0,0,1,1,0
354,5316,187.0,0.0,4,158.0,180.0,0,1,0,1,0,1,0,0,1,1,0
355,7603,1213.0,1.0,4,197.0,360.0,1,0,0,1,0,0,1,0,1,1,0
356,3791,1936.0,1.0,1,85.0,360.0,1,0,0,1,0,0,1,0,1,1,0
357,2500,0.0,1.0,0,60.0,360.0,1,0,0,1,0,0,1,1,0,1,0
358,3132,0.0,1.0,2,76.0,360.0,0,1,0,1,1,0,0,0,1,1,0
359,4000,2667.0,1.0,0,152.0,360.0,1,0,0,1,0,1,0,1,0,1,0
360,8550,4255.0,1.0,0,96.0,360.0,1,0,1,0,0,0,1,0,1,1,0
361,2269,2167.0,1.0,1,99.0,360.0,1,0,0,1,0,1,0,0,1,1,0
362,4009,1777.0,1.0,4,113.0,360.0,0,1,0,1,0,0,1,0,1,0,1
363,4158,709.0,1.0,0,115.0,360.0,1,0,0,1,0,0,1,0,1,1,0
364,3250,1993.0,1.0,0,126.0,360.0,1,0,0,1,0,1,0,1,0,1,0
365,5000,2393.0,1.0,0,158.0,360.0,1,0,0,1,1,0,0,0,1,1,0
366,9200,0.0,1.0,0,98.0,180.0,1,0,0,1,1,0,0,1,0,0,1

In [28]:
# Fitting simple regression to the training set
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [29]:
# Predicting the test results
y_pred=regressor.predict(x_test)
y_pred

array([ 0.83010834,  0.8109762 ,  0.78967901,  0.81100526,  0.68669135,
        0.7162363 ,  0.78506484,  0.02851429,  0.81327097,  0.74196991,
        0.68292949,  0.89250039,  0.79920239,  0.22043783,  0.8259492 ,
        0.73823553,  0.78049338,  0.92750869,  0.6998118 ,  0.82273914,
        0.77064139,  0.73656959,  0.74141138,  0.67045893,  0.73322786,
       -0.24967146,  0.81443826,  0.74639102,  0.92855412,  0.73471888,
        0.77705394,  0.80559228,  0.80229843,  0.78563271,  0.81396138,
        0.11037994,  0.80231853,  0.80165145,  0.7366658 ,  0.71073611,
        0.82485159,  0.73549816,  0.84385993,  0.7828942 ,  0.74319835,
        0.76761649,  0.73754696,  0.75127625,  0.68640276,  0.85197541,
        0.80873541,  0.86323254,  0.87919706,  0.87421561,  0.77155117,
        0.03011357,  0.63619396,  0.91114719,  0.16709092,  0.96767095,
        0.84174807,  0.82172445,  0.81429951, -0.0155067 ,  0.77781491,
        0.87639847,  0.15276845,  0.21350754,  0.90306348,  0.01774902,
        0.83282474,  0.84606361,  0.8474944 ,  0.73504655,  0.8160516 ,
        0.69107094,  0.78122789,  0.72322125,  0.87459076,  0.80768204,
        0.11428651,  0.85012365,  0.01147492,  0.75641926,  0.23954318,
        0.75071886,  0.80119111,  0.8355476 ,  0.76752866,  0.67706907,
        0.76240437,  0.73754435,  0.87855931,  0.85541441,  0.19744395,
        0.93552912,  0.7461755 ,  0.87979894,  0.86367914,  0.91613253,
        0.69965576,  0.18871384,  0.82976231,  0.78221284,  0.80891517,
        0.87848747,  0.01455985,  0.80652711,  0.91317064,  0.7383274 ,
        0.82815571,  0.92654582,  0.73758945,  0.88721317,  0.73288147,
        0.79217302,  0.72568771,  0.07392816,  0.00727143,  0.0312784 ,
        0.7511046 ,  0.74424966,  0.81881586, -0.08406763, -0.01140941,
        0.83007269,  0.05198733,  0.8054586 ,  0.77469546,  0.85458569,
        0.81056156,  0.69809882,  0.78117055,  0.74496083,  0.78536272,
        0.82394236,  0.79136624,  0.76382665,  0.81905993,  0.84580659,
       -0.00698515,  0.79779206,  0.06983432,  0.82225474,  0.81158831,
        0.74312444,  0.77651731, -0.0800815 ,  0.91024176,  0.72931656,
        0.67442858,  0.81131235,  0.69528982,  0.04227181,  0.81392503,
        0.74546407,  0.76018403,  0.76683344,  0.79021728,  0.72865227,
        0.63413035,  0.137313  ,  0.73897484,  0.71412027,  0.71006794,
        0.05034616, -0.04240087,  0.78818413,  0.2044649 ,  0.80379385,
        0.70232485,  0.73560785,  0.78623282,  0.01882804,  0.01251222,
        0.74233   ,  0.73349682,  0.71437001,  0.7932937 ,  0.83314101,
        0.88773636,  0.87643209,  0.83566483,  0.73778051,  0.83051522,
        0.85387039,  0.84494017,  0.89785731,  0.7349662 ,  0.70031204,
        0.82759549,  0.74309409, -0.01017547,  0.02005448,  0.81638024,
        0.7366658 ,  0.22342479,  0.7140624 ,  0.12698212,  0.78162668,
        0.7813443 ,  0.78083389,  0.81697122,  0.8945711 ,  0.82487346,
        0.89201034,  0.87768755,  0.90256779,  0.74502948,  0.60889051,
        0.75020708, -0.04478773,  0.92301648,  0.69554149,  0.69427989,
        0.74149362,  0.87771492,  0.74734838,  0.73363337,  0.80574176,
        0.80502374,  0.70018648,  0.7652727 ,  0.70320553,  0.11118034,
        0.74481677,  0.81119602,  0.76266721,  0.67024405,  0.07727548,
        0.69565105,  0.69704874,  0.82470107,  0.84247149,  0.80699505,
       -0.01154974,  0.07220977,  0.60740986,  0.85597662,  0.73549373,
        0.67939766,  0.20639027,  0.91412462,  0.07011781,  0.77985944,
        0.20128218,  0.80056741,  0.82560233,  0.87157785,  0.74982736,
        0.1096293 ,  0.9414501 ,  0.8267125 ,  0.82214958,  0.81149936,
       -0.00123865,  0.79668863,  0.77005085,  0.74434781,  0.66658332,
        0.82965216,  0.90487147,  0.7002668 ,  0.77915327,  0.76756514,
        0.79070922,  0.03519142,  0.60756668,  0.11308994,  0.70797807,
        0.75495078,  0.63009204,  0.82218151,  0.21896924,  0.1320572 ,
        0.92009051,  0.82100068,  0.85652157,  0.14474074,  0.84002387,
        0.80613908,  0.79098288,  0.73036219,  0.64696498,  0.62060843,
        0.78210588,  0.69568064,  0.66104004,  0.73088243,  0.78759881,
        0.88352077,  0.79586364,  0.64959681,  0.10835813,  0.73755716,
        0.90782426,  0.83576825,  0.65230151,  0.86252104,  0.79652227,
        0.84353737,  0.12859889,  0.69305919,  0.72201713,  0.9169663 ,
        0.74575965,  0.78170202,  0.73752216,  0.78611577,  0.86804921,
        0.72950514, -0.05147253,  0.75599045,  0.79137055,  0.73693688,
        0.92326908,  0.78895945,  0.04718681,  0.64104668,  0.70770865,
        0.77003376,  0.72316326,  0.88406105,  0.82123931,  0.80200447,
        0.15945583,  0.85293657,  0.81773928,  0.78400165,  0.90977709,
        0.78657057,  0.79311334,  0.72259378,  0.91844669,  0.92129385,
        0.76302658,  0.64385932,  0.80794748,  0.78386622, -0.03703931,
        0.89093537,  0.63761758,  0.78123228,  0.84133808,  0.68923508,
        0.80329623,  0.0661754 ,  0.68856739,  0.75274711,  0.78760182,
        0.76474021,  0.55592074,  0.82150776,  0.75557357,  0.18434166,
        0.80901017,  0.81961045,  0.7518371 ,  0.74993955,  0.79342509,
        0.7925301 ,  0.90474865,  0.76058202,  0.81975426,  0.80688134,
        0.75784173,  0.73756447])

In [30]:
y_test=[]
for x in y_pred :
    if x<=0.50000000:
        y_test.append('No')
    else:
        y_test.append('yes')

In [31]:
print(y_test)

['yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'No', 'yes', 'yes', 'yes', 'yes', 'yes', 'No', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'No', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'No', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'No', 'yes', 'yes', 'No', 'yes', 'yes', 'yes', 'yes', 'No', 'yes', 'yes', 'No', 'No', 'yes', 'No', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'No', 'yes', 'No', 'yes', 'No', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'No', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'No', 'yes', 'yes', 'yes', 'yes', 'No', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'No', 'No', 'No', 'yes', 'yes', 'yes', 'No', 'No', 'yes', 'No', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'No', 'yes', 'No', 'yes', 'yes', 'yes', 'yes', 'No', 'yes', 'yes', 'yes', 'yes', 'yes', 'No', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'No', 'yes', 'yes', 'yes', 'No', 'No', 'yes', 'No', 'yes', 'yes', 'yes', 'yes', 'No', 'No', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'No', 'No', 'yes', 'yes', 'No', 'yes', 'No', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'No', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'No', 'yes', 'yes', 'yes', 'yes', 'No', 'yes', 'yes', 'yes', 'yes', 'yes', 'No', 'No', 'yes', 'yes', 'yes', 'yes', 'No', 'yes', 'No', 'yes', 'No', 'yes', 'yes', 'yes', 'yes', 'No', 'yes', 'yes', 'yes', 'yes', 'No', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'No', 'yes', 'No', 'yes', 'yes', 'yes', 'yes', 'No', 'No', 'yes', 'yes', 'yes', 'No', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'No', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'No', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'No', 'yes', 'yes', 'yes', 'yes', 'yes', 'No', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'No', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'No', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'No', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'No', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes']

In [32]:
y_test=pd.DataFrame(y_test)
y_test

       0
0    yes
1    yes
2    yes
3    yes
4    yes
5    yes
6    yes
7     No
8    yes
9    yes
10   yes
11   yes
12   yes
13    No
14   yes
15   yes
16   yes
17   yes
18   yes
19   yes
20   yes
21   yes
22   yes
23   yes
24   yes
25    No
26   yes
27   yes
28   yes
29   yes
..   ...
337  yes
338  yes
339   No
340  yes
341  yes
342  yes
343  yes
344  yes
345  yes
346   No
347  yes
348  yes
349  yes
350  yes
351  yes
352  yes
353  yes
354   No
355  yes
356  yes
357  yes
358  yes
359  yes
360  yes
361  yes
362  yes
363  yes
364  yes
365  yes
366  yes

[367 rows x 1 columns]

In [33]:
y_test.to_csv("y_test_results.csv")